---
extends: default

rules:
  line-length:
    max: 180
    level: warning
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 1
    max-spaces-inside: 1

ignore: |
  .env/
