---
eth_device: eth0

ipv4:
  device: eth0
  address: <your ipv4 address>
  gateway: <your ipv4 gateway>
  mask: 255.255.255.0

ipv6:
  enabled: no|yes
  address: <your ipv6 address>
  gateway: <your ipv6 gateway>

ignored_ips: <your isp address>

vim_plugins:
  - https://github.com/vim-syntastic/syntastic.git
  - https://github.com/pearofducks/ansible-vim
  - https://github.com/leafgarland/typescript-vim
  - https://github.com/pangloss/vim-javascript

postfix_myhostname: example.org

email: "john@doe.org"
username: "John Doe"
login: "jdoe"
ssh_pubkey: "ssh-rsa AAAXXXfoobar john@doe.org"
