---
vim_plugins:
  - dense-analysis/ale
  - pearofducks/ansible-vim
  - vim-airline/vim-airline
  - junegunn/fzf
  - junegunn/fzf.vim

hostname: example.org

user:
  login: "johndoe"
  groups:
    - johndoe
    - users
    - wheel
    - docker
  email: "john@doe.org"
  fullname: "John Doe"
  ssh_pubkey: "ssh-rsa AAAXXXfoobar john@doe.org"
