{% if item != "/root/.vimrc" %}
call plug#begin()
{% for plugin in vim.plugins %}
Plug '{{ plugin }}'
{% endfor %}
call plug#end()
{% for line in vim.pluginsrc %}
{{ line }}
{% endfor %}
{% endif %}
{% for line in vim.rc %}
{{ line }}
{% endfor %}
