# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

if [ -f /usr/share/git-core/contrib/completion/git-prompt.sh ]; then
    source /usr/share/git-core/contrib/completion/git-prompt.sh;
    GIT_BRANCH="\[$(tput setaf {{ shell.ps1colors.git }})\]\$(__git_ps1 ' (%s)')"
else
    GIT_BRANCH=""
fi
export PS1="\[$(tput setaf {{ shell.ps1colors.user }})\]\u\[$(tput setaf {{ shell.ps1colors.at }})\]@\[$(tput setaf {{ shell.ps1colors.host }})\]\H \[$(tput setaf {{ shell.ps1colors.wd }})\]\w${GIT_BRANCH}\[$(tput sgr0)\] $ "

if [ -d ~/.local/bin ]; then
    export PATH="${PATH}:~/.local/bin";
fi

if [ -d ~/bin ]; then
    export PATH="${PATH}:~/bin";
fi

{% for alias in shell.aliases %}
alias {{ alias }}
{% endfor %}

# some usefull functions
extract () {
    if [ -f "$1" ] ; then
        case $1 in
            *.tar.bz2)   tar xvjf "$1"    ;;
            *.tar.gz)    tar xvzf "$1"    ;;
            *.bz2)       bunzip2 "$1"     ;;
            *.rar)       rar x "$1"       ;;
            *.gz)        gunzip "$1"      ;;
            *.tar)       tar xvf "$1"     ;;
            *.tbz2)      tar xvjf "$1"    ;;
            *.tgz)       tar xvzf "$1"    ;;
            *.zip)       unzip "$1"       ;;
            *.Z)         uncompress "$1"  ;;
            *.7z)        7z x "$1"        ;;
            *)           echo "don't know how to extract '$1'..." ;;
        esac
    else
        echo "'$1' is not a valid file!"
    fi
}
