[user]
	name = {{ user.fullname }}
	email = {{ user.email }}
[push]
	default = simple
[pull]
	rebase = true
[fetch]
	prune = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
