#!/bin/bash

{% for var in shell.env %}
{{ var.keys() | zip(var.values()) | map('join', "=") | join("") }}
{% endfor %}
{% if configure_ssh_agent != false %}
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"
{% endif %}

# append to the history file, don't overwrite it
shopt -s -q histappend

# Make sure display get updated when terminal window get resized
shopt -s -q checkwinsize

# Correct dir spellings
shopt -s -q cdspell

# Turn on the extended pattern matching features
shopt -s -q extglob
