listen-address=127.0.0.1
bind-dynamic
local-service
bogus-priv
filterwin2k
domain-needed
log-queries
log-facility=/var/log/dnsmasq.log
log-async=20
cache-size=8192
no-negcache
no-hosts
no-poll

{% if adblock %}
addn-hosts=/etc/hosts.ads
{% endif %}

{% for nameserver in nameservers %}
server={{ nameserver }}
{% endfor %}
